# Laravel
/vendor/
/node_modules/
.env
.env.backup
.env.production
.phpunit.result.cache
/storage/app/public/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
/bootstrap/cache/
public/hot
public/storage
public/build

# Composer
composer.phar

# NPM / Vite
npm-debug.log
yarn-error.log

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Testy
/coverage/
.phpunit.cache/
